.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  position: sticky;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headerStyle{
  font-size: 18px;
  color:'white';
  font-weight: bolder
}
.main-img{
  width: 60%;
  height:70vh;
}
.contact-img{
  width: 20%;
  height:15vh;
}

.App-link {
  color: #61dafb;
}
.evento{
  font-size: 30px;
  font-weight: bolder
}
.descripcion{
  text-align: center
}
.image-show{
  width: 25%;
  height: 25vh;
  filter: contrast(160%);
  position: relative;
  object-fit: cover;

}
.paquete{
  font-size: 25px;
  font-weight: bold;
}
.detalles{
  font-size: 18px;
  font-weight: bold;
}
.contact-1{
  font-size: 40px;
  color: white
}
.contact-2 >div{
  font-size: 20px;
  color: white
}
.break-text{
  font-size: 40px;
  text-transform: uppercase;
  color:white
}
.break-text-2{
  font-size: 40px;
  text-transform: uppercase;
  color:black
}
.fb-logo{
  width: 2%;
}
.wp-logo{
  width: 4%;
}

.imagen-servicio{
  height: 30vh;
  width: 100%; 
  object-fit:cover
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-img{
    width: 50%;
    height:40vh;
  }
  .break-text{
    font-size: 20px;
   
  }
  .break-text-2{
    font-size: 20px;
   
  }
  .fb-logo{
    width: 10%;
  }

  .paquete{
    font-size: 15px;

  }
  .detalles{
    font-size: 10px;

  }
  .contact-1{
    font-size: 20px;

  }
  .contact-2 >div{
    font-size: 15px;

  }
  .evento{
    font-size: 22px;
  }
  .imagen-servicio{
    height: 30vh;
    width: 100%; 
}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 786px) {
  .main-img{
    width: 50%;
    height:40vh;
  }
  .break-text{
    font-size: 20px;
   
  }
  .break-text-2{
    font-size: 20px;
   
  }
  .fb-logo{
    width: 10%;
  }

  .paquete{
    font-size: 15px;

  }
  .detalles{
    font-size: 10px;

  }
  .contact-1{
    font-size: 20px;

  }
  .contact-2 >div{
    font-size: 15px;

  }
  .evento{
    font-size: 22px;
  }
  .imagen-servicio{
    height: 30vh;
    width: 100%; 
}
}
